* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redirect-container {
    text-align: center;
    padding: 48px;
    border-radius: 12px;

    .info {
        font-size: 48px;
        margin-bottom: 16px;
        color: lime;
        letter-spacing: 1.5px;
        font-weight: bolder;
        text-shadow: 0 0 12px lime;
    }

    .sub-info {
        font-size: 14px;
        line-height: 180%;
        margin-bottom: 28px;
        color: white;
        text-shadow: 0 0 12px white;

        #countdown {
            font-size: 16px;
            color: lime;
            font-weight: bold;
            text-shadow: 0 0 12px lime;
        }
    }

    .redirect-btn {
        display: inline-block;
        padding: 12px 18px;
        border-radius: 8px;
        background: lime;
        color: black;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 1px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 20px lime;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 0 40px lime;
        }
    }
}
